<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.empireyard.wikirun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.SignUpScreen">

        </activity>
        <activity android:name=".screens.LogInScreen">

        </activity>
        <activity android:name=".screens.MainMenuScreen">

        </activity>
        <activity android:name=".screens.BreakScreen">

        </activity>
        <activity android:name=".screens.ChallengeModeScreen">

        </activity>
        <activity android:name=".screens.FinishScreen">

        </activity>
        <activity android:name=".screens.PlayScreen">

        </activity>
        <activity android:name=".screens.SelectScreen">

        </activity>
    </application>

</manifest>